<% include partials/header.ejs %>
<!-- Start HTML by bootstrap -->
<div class="inner cover">
    <h1 class="cover-heading"><%= title %></h1>
    <p class="lead">Welcome to <%= message %></p>
</div>
<% include partials/footer.ejs %>
